#header {
    text-align: right;
}

body {
    background: white;
    color: #747704;
    font-family: 'Lato', serif;
}

h3 {
    color: #BCBBBB
}

hr {
    margin-top: 3px;
    margin-bottom: 1rem;
    border-width: .33rem;
    color: #BCBBBB;
}